section#buttons
  .page-header
    h1 Buttons

  table.table.table-bordered.table-striped
    thead
      tr
        th Button
        th Large Button
        th Small Button
        th Disabled Button
        th Button with Icon
        th Split Button

    tbody
      tr
        td
          a.btn href="#" Default
        td
          a.btn.btn-large href="#" Default
        td
          a.btn.btn-small href="#" Default
        td
          a.btn.disabled href="#" Default
        td
          a.btn href="#"
            i class="icon-cog"
            | Default

        td
          .btn-group
            a.btn href="#" Default
            a.btn.dropdown-toggle href="#" data-toggle="dropdown"
              span.caret

            ul.dropdown-menu
              li
                a href="#" Action

              li
                a href="#" Another action

              li
                a href="#" Something else here

              li.divider
              li
                a href="#" Separated link

      tr
        td
          a.btn.btn-primary href="#" Primary

        td
          a.btn.btn-primary.btn-large href="#" Primary

        td
          a.btn.btn-primary.btn-small href="#" Primary

        td
          a.btn.btn-primary.disabled href="#" Primary

        td
          a.btn.btn-primary href="#"
            i.icon-shopping-cart.icon-white Primary

        td
          .btn-group
            a.btn.btn-primary href="#" Primary
            a.btn.btn-primary.dropdown-toggle href="#" data-toggle="dropdown"
              span.caret

            ul.dropdown-menu
              li
                a href="#" Action

              li
                a href="#" Another action

              li
                a href="#" Something else here
              li.divider
              li
                a href="#" Separated link

      tr
        td
          a.btn.btn-info href="#" Info

        td
          a.btn.btn-info.btn-large href="#" Info

        td
          a.btn.btn-info.btn-small href="#" Info

        td
          a.btn.btn-info.disabled href="#" Info

        td
          a.btn.btn-info href="#"
            i.icon-exclamation-sign.icon-white 
            | Info

        td
          <div class="btn-group">
            <a href="#" class="btn btn-info">Info</a>
            <a href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div><!-- /btn-group -->
    </td>
      </tr>
      <tr>
        <td><a href="#" class="btn btn-success">Success</a></td>
        <td><a href="#" class="btn btn-success btn-large">Success</a></td>
        <td><a href="#" class="btn btn-success btn-small">Success</a></td>
        <td><a href="#" class="btn btn-success disabled">Success</a></td>
        <td><a href="#" class="btn btn-success"><i class="icon-ok icon-white"></i> Success</a></td>
    <td>
          <div class="btn-group">
            <a href="#" class="btn btn-success">Success</a>
            <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div><!-- /btn-group -->
    </td>
      </tr>
      <tr>
        <td><a href="#" class="btn btn-warning">Warning</a></td>
        <td><a href="#" class="btn btn-warning btn-large">Warning</a></td>
        <td><a href="#" class="btn btn-warning btn-small">Warning</a></td>
        <td><a href="#" class="btn btn-warning disabled">Warning</a></td>
        <td><a href="#" class="btn btn-warning"><i class="icon-warning-sign icon-white"></i> Warning</a></td>
    <td>
          <div class="btn-group">
            <a href="#" class="btn btn-warning">Warning</a>
            <a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div><!-- /btn-group -->
    </td>
      </tr>
      <tr>
        <td><a href="#" class="btn btn-danger">Danger</a></td>
        <td><a href="#" class="btn btn-danger btn-large">Danger</a></td>
        <td><a href="#" class="btn btn-danger btn-small">Danger</a></td>
        <td><a href="#" class="btn btn-danger disabled">Danger</a></td>
        <td><a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i> Danger</a></td>
    <td>
          <div class="btn-group">
            <a href="#" class="btn btn-danger">Danger</a>
            <a href="#" data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div><!-- /btn-group -->
    </td>
      </tr>
      <tr>
        <td><a href="#" class="btn btn-inverse">Inverse</a></td>
        <td><a href="#" class="btn btn-inverse btn-large">Inverse</a></td>
        <td><a href="#" class="btn btn-inverse btn-small">Inverse</a></td>
        <td><a href="#" class="btn btn-inverse disabled">Inverse</a></td>
        <td><a href="#" class="btn btn-inverse"><i class="icon-random icon-white"></i> Inverse</a></td>
    <td>
          <div class="btn-group">
            <a href="#" class="btn btn-inverse">Inverse</a>
            <a href="#" data-toggle="dropdown" class="btn btn-inverse dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div><!-- /btn-group -->
    </td>
      </tr>
    </tbody>
  </table>
</section>