//menu style
@media (min-width: 768px){
  .content{
    border-top: 0;
  }
  header nav{
    ul{ 
      display: block;
      li {
        margin: auto;
        display: inline-block;
        line-height: 1.5em;
        font-size: 1em;
        a {
          font-size: 1em!important;
          line-height: 3.4em;
          vertical-align: middle;
        }
      }
    }
  }
  header nav span, header nav i { display: none; }
}
/*iPads (landscape) ----------- */
@media (max-width: 1024px){
  header a.lang {
    float: right;
    right: 5%;
    top:-2.3em!important;
  }
  .introduction{
    p{  min-height: 0;  }
  }
  .news-item {
    min-height: 0;
  }
}
/* iPads (portrait) and galaxy s3----------- */
@media (max-width: 940px), (-webkit-device-pixel-ratio: 2){
  // content style
  header nav ul {
    padding-left: 0px;
  }
  header a.lang {
    right: 5%;
  }
  .content{
    h2{  padding: 0px 27px;  }
    .ribbon-border .ribbon {
      padding: 10px 100px;
    }
  }
  .container-title {
    border-top: 2px dashed rgb(184, 184, 184)!important;
    top: 1em!important;
    margin-top: 2em;
    position:relative;
    h2 {
      position: relative;
      top: -0.6em;
      font-size: 60px;
      line-height: 60px;
      display: inline-block;
    }
  }
  .introduction{
    /* IntroCarousel  style */
    #IntroCarousel{
      .carousel.slide, .carousel-inner > .item > img, .carousel-inner{
        float: none!important;
        position: static!important;
        margin: auto;
      }
    }
    p{
      float: none!important;
      position: static!important;
      margin: auto;
      width: 80%;
      min-height: 0;
    }
  }
  .technologies ul , .tools ul {
    margin-left: 0!important;
    li{
      margin-left: 3.5%!important;
      margin-bottom: 3.5%;
      width: 44%!important;
      h3{
        width: 100%!important;
        margin: auto;
        display: block!important;
      }
    }
  }
  .news-item {
    width: 87%!important;
    height: auto!important;
    margin-bottom: 4%!important;
    margin-left: 8%!important;
    margin-right: 0px!important;
    padding-right: 4%!important;
    .more{
      font-size: 2.2em;
      left: 1px!important;
      right: 1px!important;
      margin: auto;
      display: inline-block;
      width: 140px!important;
      text-align: center;
    }
  }
  .more-projects ul li { 
    display: inline-block;
    float: none;
    margin: 0px 0px 20px 20px;
    width: 44%!important;
  }
  .certify {
    position:relative;
    top: 3em;
  }
  footer{
    .container-contact{
      float: left;
      width: 50%;
    }
    ul.footer-contact:before {
      content:"Contact Us";
      font-size: 4.5em;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 0.5% 10%;
      margin-bottom: 24px;
      display: inline-block;
      width: auto;
    }
    ul.footer-contact {
      text-align: center;
      width: auto;
      margin: auto;
      float: left;
      line-height: 40px;
      padding-top: 31px;
    }
    ul.footer-contact li {
      width: 70%;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      margin: auto;
      float: none;
    }
    ul.footer-contact li i {
      display: block;
      margin: 14px auto!important;
    }
    .footer-subscribe .email {
      width: 35%;
      margin-top: 115px;
      left: 0;
    }
    .footer-subscribe p {
      margin: 0;
      margin-top: 12px;
      font-size: 14px;
      margin-left: -8px;
      position: relative;
      top: -17em!important;
      width: 35%;
      left: 58%;
    }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
    }
    .footer-subscribe .btn-subscribe {
      top: 1em;
      left: 0;
    }
  }
  //services
  .content .services {
    .container-title { 
      margin-top: 2em!important;
      border-top: none!important;
    }
    ul.box-dashed.two {
      margin: auto!important;
      li { 
        margin: auto!important;
        margin: 5% auto!important;
        width: 90%!important;
        height: auto!important;
        float: none!important;
        display: block!important;
      }
    }
  }
  .services ul.box-dashed li{
    h3, p{
      display: block;
    }
    h3{
      margin: 0!important;
      margin-left: 3%!important;
      margin-top: 7%!important;
      width: auto;
    }
    p{
      margin: 7%;
      margin-top: 0;
    }
  }
  section {
    margin-bottom: 10%;
  }
  .process{
    ul{
      border-top: 0px;
      width: 90%;
      margin: auto;
      li{
          border-bottom: 1px solid #B3C4D9;
          margin: auto;
          padding: 10% 0px;
        h3{
          font-size: 1.5em;
        }
        p{
          width: 90%;
        }
        i{
          margin: auto;
          height: auto!important;
          width: auto!important;
          font-size: 2.2em;
        }
        span {
          font-size: 1.5em;
          font-weight: 700;
        }
      }
    }
  }
  .howdowedoit, .our-offering { 
    border: none;
    float: none;
    margin: auto;
    width: 90%;
  }
  .howdowedoit{
    ul.bullets-blue { 
      padding: 5% 5% 0px 60px;
    }
  }
  .our-offering p {
    padding-top: 7%;
  }
  //end service
  //projects
  #projects-page.carousel .carousel-inner {
    width: 100%;
    height: auto;
    background-position: 50% 0%;
    .item {
      margin: 0;
      width: 100%;
    }
    .macbook {  margin: 5.2% auto auto 28.4%  }
    .carousel-caption {
      width: 80%!important;
      position: relative!important;
      top: 0!important;
      left: 0!important;
      margin: 10% auto auto!important;
      background: white!important;
      border: black solid 1px!important;
      padding: 3%!important;
    }
    .more {
      left: 0!important;
      bottom: -4%!important;
      right: 0;
      margin: auto;
    }
    .carousel-control {
      bottom: 12%!important;
      top: auto!important;
      .left {  left: 20%!important;  }
      .right {  right: 20%!important;  }
    }
  }
  .more-projects ul {  width: 100%;  }
  .more-info{
    ul.box-dashed.three {
      margin: auto;
      margin-left: 0!important;
      padding-left: 0!important;
      li {
        width: 248px;
        margin-left: 1%;
      }
    }
  }
}
// general mobile style
@media screen and (min-width:0px) and (max-width: 767px), (-webkit-device-pixel-ratio: 2){
  //header
  header{
    a.lang {
      float: none;
      right: 1%;
      left: 1%;
      margin: auto;
      top:0.5em!important;
      position: static;
    }
    h1 img{
      width: 80%;
    }
  }
  //home
  .introduction h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 7% 0px;
  }
  .introduction p {
    float: none !important;
    font-size: 1em;
    line-height: 1.4em;
    margin: auto;
    min-height: 0px;
    position: static !important;
    width: 80%;
  }
  .container-title {
    width: 90%;
    margin: auto;
  }
  .container-title h2 {
    margin: auto;
    padding: 0;
    min-height: 100px;
    top: 29px;
    width: 100%;
    font-size: 2em!important;
    line-height: 1em;
  }
  .container-title h2::before { 
    position: absolute;
    left: 0px;
  }
  .container-title h2::after { 
    position: absolute;
    bottom: 63%;
    right: 0px;
  }
  .carousel-inner { 
    margin: auto;
    width: 90%;
  }
  #cases.carousel {
    margin: auto!important;
  }
  #cases .carousel-inner .item img {  
    height: 340px;
    max-width: 200%;
  }
  .carousel-caption{
    height: auto;
    min-height: 200px;
    padding: 0px 0px 7%!important;
  }
  .carousel .more {
    left: 1px!important;
    right: 1px!important;
    font-size: 2em !important;
    width: 44%;
    margin:auto;
    text-align: center;
  }
  ul.box-dashed {  margin: auto!important  }
  .technologies ul li, .tools ul li {
    float: none!important;
    background: none;
    border: none;
    margin: auto!important;
    height: auto!important;
    width: 100%!important;
    display: block;
    h3{
      height: auto;
      width: 80%;
      display: block;
      margin: auto;
    }
  }
  .circle {  border: 0.3em solid #A60563;  }
  .news{
    ul{  margin: auto!important  }
    .news-item {
      margin: auto!important;
      margin-bottom: 15%!important;
      padding: 7%!important;
      width: 85%!important;
      float: none!important;
      .more { 
        font-size: 2.2em;
        left: 1px!important;
        right: 1px!important;
        margin: auto;
        display: inline-block;
        width: 130px;
        text-align: center;
      }
    }
  }
  .ribbon .ribbon-right, .ribbon .ribbon-left {
    display: none;
  }
  //services
  .content .services {
    .container-title { 
      border-top: none;
      margin-top: 0px!important;
    }
    ul.box-dashed {
      margin: auto!important;
      li { 
        margin: 10% auto!important;
        width: 80%!important;
        height: auto!important;
        float: none;
        display: block;
      }
    }
  }
  .services ul.box-dashed li{
    padding: 5%;
    h3, p{
      display: block;
      margin: auto!important;
    }
    h3{
      margin-bottom: 5%!important;
      text-align: center;
    }
  }
  .process{
    .container-title {
      margin-top: 0;
      border-top: 0;
      h2{  top: 0;  }
    }
    ul{
      border-top: 2px solid #B3C4D9;
      width: 90%;
      padding-top: 10%;
      margin: auto;
      li{
          border-bottom: 2px solid #B3C4D9;
          margin: auto;
          padding: 10% 0px;
        i{
          margin: auto;
          height: auto!important;
          width: auto!important;
          font-size: 1.6em;
        }
        h3{  font-size: 1.1em;  }
        p{  width: 100%;  }
        span {
          font-size: 1.2em!important;
          font-weight: 700;
        }
      }
    }
  }
  .howdowedoit, .our-offering {
    border: none;
    float: none;
    margin: auto!important;
    width: 90%!important;
  }
  .howdowedoit{
    ul.bullets-blue {  padding: 0px 5% 0px 60px;  }
  }
  .our-offering p {  padding-top: 7%;  }
  ///////////
  //projects
  //////////
  .projects-page .container-title {
    margin-top: 0px;
    border-top: 0!important;
    h2{  font-size: 2em;  }
  }
  .more-projects .container-title h2 {  font-size: 2em;  }
  #projects-page.carousel{
    .carousel-inner {
      position: static;
      border-bottom: 0!important;
      background-size: 100%!important;
      width: 100%!important;
      min-height: 307px;
      height: auto;
      .item {
        margin:auto;
        .more {  min-width: 130px;  }
        .macbook {
          height: auto;
          display: block;
          margin: auto;
          margin-top: 8%;
          margin-bottom: 17%;
          width: 64%!important;
        }
        .carousel-caption {
          height: auto;
          margin: auto;
          min-height: 100px;
          position: static;
          width: 90%;
          ul.bullets-blue {
            margin-bottom: 30px;
            li { 
              font-size: 0.9em;
              line-height: 1.5em;
              padding: 0px 0px 3px;
              width: 130%;
            }
          }
        }
        p {
          font-size: 0.9em;
          line-height: 1.5em;
        }
      }
    }
    .carousel-control {
      bottom: 3%;
      top: auto;
      .left {  left: 10%;  }
      .right {  right: 10%;  }
    }
  }
  .more-projects ul {
    margin: auto;
    width: 100%;
    li {
      display: block!important;
      float: none!important;
      margin: auto;
      margin-bottom: 15%!important;
      width: 85%!important;
      .project-info p { 
        font-size: 0.9em;
        margin: 5px 0px 10px;
      }
    }
  }
  .projects-page .container-title h2 , .more-projects .container-title h2 {  height: auto;  }
  .more-projects ul li .project-info {  height: auto !important;  }
  //project show
  .project-page{
    .container-title {  border-top: 0!important;  }
    .carousel{
      .carousel-inner {
        position: relative;
        border-bottom: 0;
        background-size: 100%!important;
        width: 100%!important;
        min-height: 100px;
        height: auto;
        z-index: 999!important;
        .item .macbook {
          height: auto!important;
          display: block;
          margin: auto;
          margin-top: 8%!important;
          margin-bottom: 17%!important;
          width: 64%!important;
        }
      }
      .carousel-control {
        top: 47% !important;
        z-index: 0!important;
      }
      .right {  right: 4%!important;  }
      .left {  left: 4%!important;  }
    }
    .carousel-caption {
      margin: auto;
      width: 90%;
      h4 {
        font-size: 1.3em;
        margin: 0px;
        padding: 5% 2% 0%;
      }
      p {
        font-size: 0.9em;
        font-weight: 700;
        line-height: 1.5em;
        margin: 2% 2% 7%;
      }
    }
    .more {
      position: relative;
      margin: auto;
      left: 1px;
      right: 1px;
      top: -0.7em;
    }
  }
  .more-info{
    ul.box-dashed.three{
      width: 100%;
      li{
        width: 100%;
        border: none;
        background: none;
        float: none;
        margin: auto;
        h3, p{
          display: block;
          font-size: 1.1em;
          height: auto;
          text-align: center;
          vertical-align: middle;
          width: auto;
          a{
            color: #316BAF!important;
            text-decoration: none;
          }
        }
      }
    }
  }
  //////////
  //footer
  /////////
  footer{
    .container-contact {
      float: none;
      width: 100%;
    }
    .footer-subscribe .email {
      width: 70%;
      padding: 5px 10px;
      position: static;
      top: 4px;
      left: 1px;
      right: 1px;
      margin: auto;
      font-size: 1.2em;
      display: block;
    }
    .footer-subscribe .btn-subscribe {
      position: static;
      margin-top: 12px;
    }
    .footer-subscribe p { 
      font-size: 1.2em;
      left: auto;
      margin: auto;
      position: relative;
      top: 1em !important;
      width: 100%;
    }
    .footer-subscribe {  padding-bottom: 20px;  }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
      display: inline-block;
      margin-bottom: 25px;
    }
    .social .container ul li {
      font-size: 0px!important;
      color: black;
    }
    ul.footer-contact:before {
      content:"Contact Us";
      font-size: 4.5em;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 0.5% 10%;
      margin-bottom: 24px;
      display: inline-block;
      width: auto;
    }
    ul.footer-contact {
      text-align: center;
      width: auto;
      margin: auto;
      float: left;
      line-height: 40px;
      padding-top: 31px;
    }
    ul.footer-contact li {
      width: 70%;
      display: inline-block;
      line-height: 1.4em;
      text-align: center;
      margin: auto;
      float: none;
    }
    ul.footer-contact li i {
      display: block;
      line-height: 1.4em;
      margin: 5px auto!important;
    }
  }
}
// galaxy s3
@media (-webkit-device-pixel-ratio: 2){
  .introduction h2{  font-size: 2em;  }
  .container-title {
    h2 {
      top:0;
      margin-top: 1em;
      font-size: 3em;
    }
  }
  ul.box-dashed.four li {
    background: none;
    border: 0px;
    display: block;
    float: none !important;
    margin: auto;
    width: 100%;
    height: 130px;
  }
  .technologies ul li, .tools ul li {
    background: transparent;
    float: none;
    height: auto!important;
    width: 100%!important;
    margin: auto!important;
    border: none;
    h3{
      height: auto;
      width: 80%;
      display: block;
      margin: auto;
    }
  }
  .news ul {
    margin: auto;
    margin-top: 1em;
  }
  .news .news-item {
    float: none;
    margin: auto auto 15%!important;
    padding: 5%;
    width: 80%!important;
    height: auto!important;
  }
  .news .news-item .more {
    font-size: 2.2em;
    left: 1px!important;
    right: 1px!important;
    margin: auto;
    display: inline-block;
    width: 130px;
    text-align: center;
  }
  .ribbon .ribbon-right, .ribbon .ribbon-left {  display: none;  }
  footer{
    .container-contact{  width: 100%;  }
    ul.footer-contact {
      margin: auto!important;
      width: 100%;
    }
    ul.footer-contact li { 
      float: none;
      font-size: 1.2em!important;
      line-height: 1.4em;
      margin: auto auto 5%;
      text-align: center;
      width: 70%;
      display: block;
    }
    .footer-subscribe .email { 
      left: 0%;
      padding: 10px 24px;
      position: relative;
      top: 5em;
      width: 70%;
    }
    .footer-subscribe p { 
      font-size: 14px;
      left: 11%;
      margin: 12px 0px 10px -8px;
      position: relative;
      top: -11em!important;
      width: 81%;
    }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
    }
    .footer-subscribe .btn-subscribe {
      top: 3em;
      left: 0;
      width: 149px;
    }
    .social .container ul li.sh, .social .container ul li.fb {
      font-size: 0px!important;
      color: transparent;
    }
  }
  // projects
  .projects-page .container-title, .more-projects .container-title{  border-top:0!important;  }
  .more-projects ul li {  width: 80%!important;  }
  .more-projects ul li img {  width: 100%;  }
}
