/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media (max-width : 1024px)
and (orientation : portrait){
/* Styles */
// content style
  section.content{
    h2{  padding: 0px 27px;  }
  }
  .introduction{
    /* IntroCarousel  style */
    #IntroCarousel{
      .carousel.slide, .carousel-inner > .item > img, .carousel-inner{
        float: none!important;
        position: static!important;
        margin: auto;
      }
    }
    p{
      float: none!important;
      position: static!important;
      margin: auto;
      width: 80%;
    }
  }
  .technologies ul li, .tools ul li {
    margin-left: 3.5%!important;
    margin-bottom: 3.5%;
    width: 45%!important;
    h3{
      width: 100%!important;
      margin: auto;
      display: block!important;
    }
  }
  .news-item {
    width: 87%!important;
    height: auto!important;
    margin-bottom: 4%!important;
    margin-left: 8%!important;
    margin-right: 0px!important;
    padding-right: 4%!important;
    .more{
      left: 40%!important;
    }
  }
  footer{
    .container-contact{
      float: left;
      width: 50%;
    }
    ul.footer-contact:before {
      content:"Contant Us";
      font-size: 60px;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 3px 30px;
      margin-bottom: 24px;
      display: inline-block;
    }
    ul.footer-contact {
      text-align: center;
      width: auto;
      margin: auto;
      float: left;
      line-height: 40px;
      padding-top: 31px;
    }
    ul.footer-contact li {
      width: 215px;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      margin: auto;
      float: none;
    }
    ul.footer-contact li i {
      display: block;
      margin: 14px auto!important;
    }
    .footer-subscribe .email {
      width: 35%;
      margin-top: 115px;
    }
    .footer-subscribe p {
      margin: 0;
      margin-top: 12px;
      font-size: 14px;
      margin-left: -8px;
      position: relative;
      top: -240px;
      width: 35%;
      left: 58%;
    }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
    }
  }
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
