@media (max-width : 240px){
  .container, header, .content, footer{  width: 481px!important; }
  header {
    .container h1 a img{
      width: 80%;
      height: auto;
    }
    nav ul li a{
      font-size: 0.7em!important;

    }
  }
  header a.lang {
    font-size: 10px;
    right: 5%;
    top: 5%;
  }

  .introduction h2 {
    font-size: 240%;
    line-height: 115%;
    margin: 13% 11%;
    padding: 0px 0%;
  }
  .introduction p {
    float: none!important;
    position: static!important;
    font-size: 115%;
    line-height: 150%;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: -5%;
  }
  .container-title {
    width: 90%;
    margin: auto;
  }
  .container-title h2 {
    font-size: 2em;
    margin: auto;
    padding: 0;
    height: 100px;
    top: 29px;
    width: 100%;
  }
  .container-title h2::before { 
    position: absolute;
    left: 0px;
  }
  .container-title h2::after { 
    position: absolute;
    bottom: 50%;
    right: 0px;
  }
  .carousel-inner { 
    margin: auto;
    width: 90%;
  }
  #cases .carousel-inner .item img {  
    height: 344px;
    max-width: 400%;
  }
  .carousel .more {
    left: 1px!important;
    right: 1px!important;
    font-size: 2.2em!important;
    width: 44%;
    margin:auto;
    text-align: center;
  }
  ul.box-dashed.four li { 
    background: none;
    border: 0px;
    display: block;
    float: none !important;
    margin: auto;
    width: 218px;
    height: 130px;
  }
  .technologies ul li, .tools ul li { 
    background: transparent;
    border: 0px none currentColor;
    float: none;
    height: auto!important;
    margin: auto;
    h3{  height: auto;  }
  }
  .news ul {
    margin: auto;
  }
  .news .news-item { 
    float: none;
    margin: auto auto 15%;
    padding: 5%;
    width: 80%!important;
    height: auto!important;
  }
  .news .news-item .more { 
    font-size: 2.2em;
    left: 1px!important;
    right: 1px!important;
    margin: auto;
    display: inline-block;
    width: 130px;
    text-align: center;
  }

  .ribbon .ribbon-right, .ribbon .ribbon-left {
    display: none;
  }
  footer{
    ul.footer-contact {
      margin: 10%;
    }
    ul.footer-contact:before {
      content:"Contant Us";
      font-size: 4.5em;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 0.5% 10%;
      margin-bottom: 24px;
      display: inline-block;
      width: auto;
    }
    ul.footer-contact li { 
      float: none;
      font-size: 1.2em!important;
      line-height: 1.4em;
      margin: auto auto 5%;
      text-align: center;
      width: 70%;
    }
    ul.footer-contact li i { 
      display: block;
      font-size: 1.4em!important;
      line-height: 20px;
      margin: auto!important;
    }
    ul.footer-contact li.footer-contact-email { 
      margin-right: auto;
    }
    .footer-subscribe {
      height: 65%;
      padding-top: 7%;
      padding-bottom: 11%;
    }
    .footer-subscribe .email { 
      left: 0%;
      padding: 10px 24px;
      position: relative;
      top: 36%;
      width: 70%;
    }
    .footer-subscribe p { 
      font-size: 14px;
      left: 11%;
      margin: 12px 0px 10px -8px;
      position: relative;
      top: -6em;
      width: 81%;
    }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
    }
    .footer-subscribe .btn-subscribe {
      top: 40%;
      left: 0;
      width: 149px;
    }
    .social .container ul li.sh, .social .container ul li.fb {
      font-size: 0px!important;
      color: transparent;
    }
  }
  #toTop{ display: none!important; }
}
/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width : 320px) and (max-device-width : 480px), (max-device-height : 480px) and (max-device-width : 600px) and (orientation: landscape) {
/* Styles */
  header a.lang {
    font-size: 10px;
    right: 5%;
    top: 5%;
  }
  .content {
    overflow: hidden;
  }
  .introduction h2 {
    font-size: 240%;
    line-height: 115%;
    margin: 13% 11%;
    padding: 0px 0%;
  }
  .introduction p {
    float: none!important;
    position: static!important;
    font-size: 115%;
    line-height: 150%;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: -5%;
  }
  .container-title {
    width: 90%;
    margin: auto;
  }
  .container-title h2 {
    font-size: 2.9em;
    margin: auto;
    padding: 0;
    height: 100px;
    top: 29px;
    width: 100%;
  }
  .container-title h2::before { 
    position: absolute;
    left: 0px;
  }
  .container-title h2::after { 
    position: absolute;
    bottom: 40%;
    right: 0px;
  }
  .carousel-inner { 
    margin: auto;
    width: 90%;
  }
  #cases.carousel {
    margin: auto!important;
  }
  #cases .carousel-inner .item img {  
    height: 340px;
    max-width: 200%;
  }
  .carousel .more {
    left: 1px!important;
    right: 1px!important;
    font-size: 2.2em!important;
    width: 44%;
    margin:auto;
    text-align: center;
  }
  ul.box-dashed.four li { 
    background: none;
    border: 0px;
    display: block;
    float: none !important;
    margin: auto;
    width: 100%;
    height: 130px;
  }
  .technologies ul li, .tools ul li { 
    background: transparent;
    float: none;
    height: auto!important;
    width: 100%!important;
    margin: auto;
    border: none;
    h3{
      height: auto;
      width: 80%;
      display: block;
      margin: auto;
    }
  }
  .news ul {
    margin: auto;
  }
  .news .news-item { 
    float: none;
    margin: auto auto 15%;
    padding: 5%;
    width: 80%!important;
    height: auto!important;
  }
  .news .news-item .more { 
    font-size: 2.2em;
    left: 1px!important;
    right: 1px!important;
    margin: auto;
    display: inline-block;
    width: 130px;
    text-align: center;
  }

  .ribbon .ribbon-right, .ribbon .ribbon-left {
    display: none;
  }
  footer{
    ul.footer-contact {
      margin: 10%;
    }
    ul.footer-contact:before {
      content:"Contant Us";
      font-size: 4.5em;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 0.5% 10%;
      margin-bottom: 24px;
      display: inline-block;
      width: auto;
    }
    ul.footer-contact li { 
      float: none;
      font-size: 1.2em!important;
      line-height: 1.4em;
      margin: auto auto 5%;
      text-align: center;
      width: 70%;
    }
    ul.footer-contact li i { 
      display: block;
      font-size: 1.4em!important;
      line-height: 20px;
      margin: auto!important;
    }
    ul.footer-contact li.footer-contact-email { 
      margin-right: auto;
    }
    .footer-subscribe {
      height: 65%;
      padding-top: 7%;
      padding-bottom: 11%;
    }
    .footer-subscribe .email { 
      left: 0%;
      padding: 10px 24px;
      position: relative;
      top: 5em;
      width: 70%;
    }
    .footer-subscribe p { 
      font-size: 14px;
      left: 11%;
      margin: 12px 0px 10px -8px;
      position: relative;
      top: -6em;
      width: 81%;
    }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
    }
    .footer-subscribe .btn-subscribe {
      top: 3em;
      left: 0;
      width: 149px;
    }
    .social .container ul li.sh, .social .container ul li.fb {
      font-size: 0px!important;
      color: transparent;
    }
  }
}

/* tablet (portrait) ----------- */
@media (max-width : 640px)
and (orientation : portrait){
  header nav ul li a {
    font-size: 12px;
  }
  header nav ul li a:hover:after,
  header nav ul li a.active:after,
  header nav ul li a:hover:before,
  header nav ul li a.active:before{
    top:12%;
  }

  header a.lang {
    font-size: 10px;
    right: 5%;
    top: 5%;
  }
  .introduction p {
    margin: auto;
  }

  #cases.carousel { 
    margin: 0px;
  }
  #cases .carousel-caption {
    padding: 5px 5px 30px;
  }
  .carousel-caption p { 
    font-size: 12px;
  }
  .carousel-caption h4 { 
    font-size: 15px;
  }
  .carousel .more {
      left: 1px!important;
      right: 1px!important;
      font-size: 2.2em!important;
      width: 44%;
      margin:auto;
      text-align: center;
  }
  .technologies ul li, .tools ul li {
    margin: 7px;
  }
  .technologies ul, .tools ul { 
    margin-left: 7px;
  }
  .news .news-item {
    width: 100%;
    margin-bottom: 10%;
  }
  .news .news-item .more {
    font-size: 2.2em;
    left: 1px!important;
    right: 1px!important;
    margin: auto;
    display: inline-block;
    width: 130px;
    text-align: center;
  }

  footer {
    ul.footer-contact li{ 
      font-size: 1.2em;
      i{
        margin-left: 10px;
        font-size: 1.4em!important;
      }
    }
  }
}
/* tablet (landscape) ----------- */
@media (min-width : 600px) and (max-width : 1020px){
  .introduction p {
    font-size: 14px;
    line-height: 20px;
    right: 1%;
    width: 30%;
  }

  .technologies ul, .tools ul {
    margin: auto;
    width: 80%;
    li {
      margin: 10px;
      width: 44%!important;
    }
  }

  .news ul { 
    margin-left: 0px;
  }

  .news .news-item {
    margin-left: 2%;
    margin-bottom: 5%;
    min-height: 100%;
    padding: 2%;
    width: 31%;
  }

  .services{
    ul.box-dashed{
      li{
        width:auto;
      }
    }
  }

  .howdowedoit, .our-offering{
    float:none;
    width:100%;
    border:none;
    
    .container-title{
      border-top:2px dashed #B8B8B8;
    }
  }
  .carousel .more {
      left: 1px!important;
      right: 1px!important;
      font-size: 2.2em!important;
      width: 44%;
      margin:auto;
      text-align: center;
  }
  .news .news-item .more {
    font-size: 2.2em;
    left: 1px!important;
    right: 1px!important;
    margin: auto;
    display: inline-block;
    width: 130px;
    text-align: center;
  }

  footer {
    .container-contact ul.footer-contact::before {
      font-size: 4.5em;
      line-height: 135%;
      display: inline-block;
      width: auto;
      margin: auto;
      padding: 0.5% 10%;
    }
    .container-contact ul.footer-contact li{
      width: 51%;
      font-size: 1.2em;
      i{
        margin-left: 10px;
        font-size: 1.4em!important;
      }
    }
    .footer-subscribe p {
      top: -15em!important;
    }
  }
}
@media (min-width : 600px) and (max-width : 1024px){
  .container-contact ul.footer-contact::before {
      font-size: 4.5em;
      line-height: 135%;
      display: inline-block;
      width: auto;
      margin: auto;
      padding: 0.5% 10%;
    }
}
/* iPads (portrait) ----------- */
@media (min-width : 600px) and (max-width : 1280px){
/* Styles */
// content style
  header nav ul {
    padding-left: 0px;
  }
  header a.lang {
    right: 5%;
  }
  .content{
    h2{  padding: 0px 27px;  }
    .ribbon-border .ribbon {
      padding: 10px 100px;
    }
  }
  .introduction{
    /* IntroCarousel  style */
    #IntroCarousel{
      .carousel.slide, .carousel-inner > .item > img, .carousel-inner{
        float: none!important;
        position: static!important;
        margin: auto;
      }
    }
    p{
      float: none!important;
      position: static!important;
      margin: auto;
      width: 80%;
    }
  }
  .technologies ul li, .tools ul li {
    margin-left: 3.5%!important;
    margin-bottom: 3.5%;
    width: 45%!important;
    h3{
      width: 100%!important;
      margin: auto;
      display: block!important;
    }
  }
  .news-item {
    width: 87%!important;
    height: auto!important;
    margin-bottom: 4%!important;
    margin-left: 8%!important;
    margin-right: 0px!important;
    padding-right: 4%!important;
    .more{
      font-size: 2.2em;
      left: 1px!important;
      right: 1px!important;
      margin: auto;
      display: inline-block;
      width: 130px;
      text-align: center;
    }
  }
  footer{
    .container-contact{
      float: left;
      width: 50%;
    }
    ul.footer-contact:before {
      content:"Contant Us";
      font-size: 4.5em;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 0.5% 10%;
      margin-bottom: 24px;
      display: inline-block;
      width: auto;
    }
    ul.footer-contact {
      text-align: center;
      width: auto;
      margin: auto;
      float: left;
      line-height: 40px;
      padding-top: 31px;
    }
    ul.footer-contact li {
      width: 70%;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      margin: auto;
      float: none;
    }
    ul.footer-contact li i {
      display: block;
      margin: 14px auto!important;
    }
    .footer-subscribe .email {
      width: 35%;
      margin-top: 115px;
    }
    .footer-subscribe p {
      margin: 0;
      margin-top: 12px;
      font-size: 14px;
      margin-left: -8px;
      position: relative;
      top: -13em;
      width: 35%;
      left: 58%;
    }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
    }
  }
}


/* ----------------------------
:: PORTFOLIO
---------------------------- */

// responsive projects page
@media (max-width : 940px){
  #projects-page.carousel{
    .carousel-inner{
      height:auto;
      width:85%;
      margin:0 auto;
      background-position:center 10px;
      
      .item{
        margin:0;

        .macbook{
          height: 300px;
          margin: 30px auto 0;
          padding:0 0 0 6px;
          width:346px;
        }
        .carousel-caption{
          position:static;
          background:#fff;
          border:#494647 solid 1px;
          width:100%;
          min-height:238px;
          
          h4{
            padding:29px 20px 2px;
          }

          p, ul{
            margin-left:20px;
            margin-right:20px;
          }

          ul{
            margin-bottom:20px;
          }
          
        }

        .more{
          position:relative;
          bottom:27px;
          margin:0 auto;
        }
      }
    }

    a.carousel-control.left{
      top: auto;
      bottom: 42px;
      left: 16%;
    }

    a.carousel-control.right{
      top: auto;
      bottom: 42px;
      right: 16%;
    }
  }
}
@media (max-width : 630px){
  #projects-page.carousel{
    .carousel-inner{
      background:url(asset_path("macbook-mobile.png", image)) no-repeat center 0;
      
      .item{
        .macbook{
          margin:12px auto 0;
          width:208px;
          height:180px;
        }
      }
    }
  }
}

// responsive more projects
@media (max-width : 837px){
  .more-projects{
    ul{
      margin-left:-20px;
      width:auto;

      li{
        float:none;
        display:inline-block;
        margin:0 0 20px 20px;
        width:47%;

        img{
          display:block;
          border:#000 solid 1px;
        }
      }
    }
  }
}
@media (max-width : 599px){
  .more-projects{
    ul{
      li{
        width:265px;
      }
    }
  }
}
// end portfolio
// service
@media (max-width: 799px){
  .content .services {
    .container-title { 
      margin-top: 0px;
    }
    ul.box-dashed {
      margin: auto!important;
      li { 
        margin: 10% auto!important;
        width: 80%!important;
        height: auto!important;
        float: none;
        display: block;
      }
    }
  }
  .container-title {
    border-top: none;
    margin-top: 0;
  }
  .services ul.box-dashed li{
    h3{
      text-align: center;
    }
    h3, p{
      margin: 7%;
    }
  }
  section {
    margin-bottom: 10%;
  }
  .process{
    .container-title {
      margin-top: 0;
      h2{
        top: 0;
      }
    }
    ul{
      border-top: 2px solid #B3C4D9;
      width: 90%;
      padding-top: 10%;
      margin: auto;
      li{
          border-bottom: 2px solid #B3C4D9;
          margin: auto;
          padding: 10% 0px;
        i{
          margin:auto;
          background-size: 500%;
          height: 2.5em!important;
          width: 2.5em!important;
        }
        i.icon-planning { 
          background-position: 33% 33%;
        }
        i.icon-coding { 
          background-position: 60% 32%;
        }
        i.icon-codereview { 
          background-position: 89% 33%;
        }
        i.icon-quality_assurance { 
          background-position: 9% 75%;
        }
        i.icon-deployment { 
          background-position: 34% 75%;
        }
        i.icon-maintenance { 
          background-position: 60% 75%;
        }
        h3{
          font-size: 1.2em;
        }
        p{
          width: 100%;
        }
        span {
          font-size: 1.5em;
          font-weight: 700;
        }
      }
    }
  }
  .howdowedoit, .our-offering { 
    border: none;
    float: none;
    margin: auto;
    width: 90%;
  }
  .howdowedoit{
    ul.bullets-blue { 
      padding: 0px 5% 0px 60px;
    }
  }
  .our-offering p {
    padding-top: 7%;
  }
//end service
}
