/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media (max-width : 1024px)
and (orientation : portrait){
/* Styles */
// content style
  section.content{
    h2{  padding: 0px 27px;  }
  }
  .introduction{
    /* IntroCarousel  style */
    #IntroCarousel{
      .carousel.slide, .carousel-inner > .item > img, .carousel-inner{
        float: none!important;
        position: static!important;
        margin: auto;
      }
    }
    p{
      float: none!important;
      position: static!important;
      margin: auto;
      width: 80%;
    }
  }
  .technologies ul li, .tools ul li {
    margin-left: 3.5%!important;
    margin-bottom: 3.5%;
    width: 45%!important;
    h3{
      width: 100%!important;
      margin: auto;
      display: block!important;
    }
  }
  .news-item {
    width: 87%!important;
    height: auto!important;
    margin-bottom: 4%!important;
    margin-left: 8%!important;
    margin-right: 0px!important;
    padding-right: 4%!important;
    .more{
      left: 40%!important;
    }
  }
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
