@media (max-width : 320px){
  body{
    width: 320px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width : 320px) and (max-device-width : 480px), (max-device-height : 480px) and (max-device-width : 600px) and (orientation: landscape)  {
/* Styles */
  header a.lang {
    font-size: 10px;
    right: 5%;
    top: 5%;
  }
  .content {
    .introduction h2 {
      font-size: 240%;
      line-height: 115%;
      margin: 13% 11%;
      padding: 0px 0%;
    }
    .introduction p {
      float: none!important;
      position: static!important;
      font-size: 115%;
      line-height: 150%;
      width: 80%;
      text-align: center;
      margin: auto;
      margin-top: -5%;
    }
    .container-title {
      width: 90%;
      margin: auto;
    }
    .container-title h2 {
      font-size: 2.9em;
      margin: auto;
      padding: 0;
      height: 100px;
      top: 29px;
      width: 100%;
    }
    .container-title h2::before { 
      position: absolute;
      left: 0px;
    }
    .container-title h2::after { 
      position: absolute;
      bottom: 40%;
      right: 0px;
    }
    .carousel-inner { 
      margin: auto;
      width: 90%;
    }
    #cases .carousel-inner .item img {  
      height: 344px;
      max-width: 200%;
    }
    .carousel .more { 
      left: 31%;
      font-size: 100%;
      width: 44%;
    }
    ul.box-dashed.four li { 
      background: none;
      border: 0px;
      display: block;
      float: none !important;
      margin: auto;
      width: 218px;
      height: 130px;
    }
    .technologies ul li, .tools ul li { 
      background: transparent;
      border: 0px none currentColor;
      float: none;
      height: auto!important;
      margin: auto;
      h3{  height: auto;  }
    }
    .news ul {
      margin: auto;
    }
    .news .news-item { 
      float: none;
      margin: auto auto 15%;
      padding: 5%;
      width: 80%!important;
      height: auto!important;
    }
    .news .news-item .more { 
      left: 25%!important;
    }
  }
  .ribbon .ribbon-right, .ribbon .ribbon-left {
    display: none;
  }
  footer{
    ul.footer-contact {
      margin: 10%;
    }
    ul.footer-contact:before {
      content:"Contant Us";
      font-size: 60px;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 3px 30px;
      margin-bottom: 24px;
      display: inline-block;
    }
    ul.footer-contact li { 
      float: none;
      font-size: 1.2em;
      line-height: 1.4em;
      margin: auto auto 5%;
      text-align: center;
      width: 70%;
    }
    ul.footer-contact li i { 
      display: block;
      font-size: 20px !important;
      line-height: 20px;
      margin: auto!important;
    }
    ul.footer-contact li.footer-contact-email { 
      margin-right: auto;
    }
    .footer-subscribe {
      height: 65%;
      padding-top: 7%;
      padding-bottom: 11%;
    }
    .footer-subscribe .email { 
      left: 0%;
      padding: 10px 24px;
      position: relative;
      top: 36%;
      width: 70%;
    }
    .footer-subscribe p { 
      font-size: 14px;
      left: 11%;
      margin: 12px 0px 10px -8px;
      position: relative;
      top: -6em;
      width: 81%;
    }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
    }
    .footer-subscribe .btn-subscribe {
      top: 40%;
      left: 0;
      width: 149px;
    }
    .social .container ul li.sh, .social .container ul li.fb {
      font-size: 0px!important;
      color: transparent;
    }
  }
}

/* tablet (portrait) ----------- */
@media (max-width : 640px)
and (orientation : portrait){
  header nav ul li a {
    font-size: 12px;
    padding: 0px 10px;
  }
  header a.lang {
    font-size: 10px;
    right: 5%;
    top: 5%;
  }
  .content{
    .introduction p {
      margin: auto;
    }
  }
  #cases.carousel { 
    margin: 0px;
  }
  #cases .carousel-caption {
    padding: 5px 5px 30px;
  }
  .carousel-caption p { 
    font-size: 12px;
  }
  .carousel-caption h4 { 
    font-size: 15px;
  }
  .carousel .more {
    left: 35%;
  }
  .content .technologies ul li, .content .tools ul li {
    margin: 7px;
  }
  .content .technologies ul, .content .tools ul { 
    margin-left: 7px;
  }
  .content .news .news-item {
    width: 100%;
    margin-bottom: 10%;
  }
  .content .news .news-item .more {
    left: 35%;
  }

  footer {
    ul.footer-contact li{ 
      font-size: 12px;
      i{
        margin-left: 10px;
        font-size: 12px!important;
      }
    }
  }
}
/* tablet (landscape) ----------- */
@media (min-width : 600px) and (max-width : 1020px){
  .content{
    .introduction p {
      font-size: 14px;
      line-height: 20px;
      right: 1%;
      width: 30%;
    }

    .technologies ul, .tools ul {
      margin: auto;
      width: 80%;
      li {
        margin: 10px;
        width: 44%!important;
      }
    }

    .news ul { 
      margin-left: 0px;
    }

    .news .news-item {
      margin-left: 2%;
      margin-bottom: 5%;
      min-height: 100%;
      padding: 2%;
      width: 31%;
    }

    .services{
      ul.box-dashed{
        li{
          width:auto;
        }
      }
    }

    .howdowedoit, .our-offering{
      float:none;
      width:100%;
      border:none;
      
      .container-title{
        border-top:2px dashed #B8B8B8;
      }
    }
  }
  .carousel .more {
    font-size: 32px;
  }
  .news .news-item .more {
    font-size: 31px;
    left: 22%;
  }

  footer {
    .container-contact ul.footer-contact::before {
      font-size: 450%;
      line-height: 135%;
      display: block;
      width: 44%;
      margin: auto;
    }
    .container-contact ul.footer-contact li{
      width: 51%;
      font-size: 12px;
      i{
        margin-left: 10px;
        font-size: 16px!important;
      }
    }
    .footer-subscribe p {
      top: -15em!important;
    }
  }
}
/* iPads (portrait) ----------- */
@media (min-width : 600px) and (max-width : 1280px){
/* Styles */
// content style
  header nav ul {
    padding-left: 0px;
  }
  header a.lang {
    right: 5%;
  }
  .content{
    h2{  padding: 0px 27px;  }
    .ribbon-border .ribbon {
      padding: 10px 100px;
    }
  }
  .introduction{
    /* IntroCarousel  style */
    #IntroCarousel{
      .carousel.slide, .carousel-inner > .item > img, .carousel-inner{
        float: none!important;
        position: static!important;
        margin: auto;
      }
    }
    p{
      float: none!important;
      position: static!important;
      margin: auto;
      width: 80%;
    }
  }
  .technologies ul li, .tools ul li {
    margin-left: 3.5%!important;
    margin-bottom: 3.5%;
    width: 45%!important;
    h3{
      width: 100%!important;
      margin: auto;
      display: block!important;
    }
  }
  .news-item {
    width: 87%!important;
    height: auto!important;
    margin-bottom: 4%!important;
    margin-left: 8%!important;
    margin-right: 0px!important;
    padding-right: 4%!important;
    .more{
      left: 40%!important;
    }
  }
  footer{
    .container-contact{
      float: left;
      width: 50%;
    }
    ul.footer-contact:before {
      content:"Contant Us";
      font-size: 60px;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 3px 30px;
      margin-bottom: 24px;
      display: inline-block;
    }
    ul.footer-contact {
      text-align: center;
      width: auto;
      margin: auto;
      float: left;
      line-height: 40px;
      padding-top: 31px;
    }
    ul.footer-contact li {
      width: 215px;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      margin: auto;
      float: none;
    }
    ul.footer-contact li i {
      display: block;
      margin: 14px auto!important;
    }
    .footer-subscribe .email {
      width: 35%;
      margin-top: 115px;
    }
    .footer-subscribe p {
      margin: 0;
      margin-top: 12px;
      font-size: 14px;
      margin-left: -8px;
      position: relative;
      top: -240px;
      width: 35%;
      left: 58%;
    }
    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
    }
  }
}
