// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------------
:: HEADER
---------------------------- */
header{
  background:#fff;
  text-align:center;

  .container {
    height: 120px;
    position: relative;
  }

  h1{
    margin:37px auto 0;
    width:242px;

    a{
      display:block;
      height:58px;
      width:242px;
    }
  }

  .lang {
    float: right;
    right: 5%;
    top: -40px;
    position: relative;
    color: #F10993;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 0.9em;
  }
}

/* ----------------------------
:: MENU
---------------------------- */
nav{
  background: #383435;
  position: relative;

  ul{
    display: block;

    li{
      margin: auto;
      display: inline-block;
      padding: 0 6px;
    }
  }

  a{
    color:#fff;
    height:55px;
    text-transform:uppercase;
    line-height: 55px;
    padding: 0 16px;
    vertical-align: middle;
  }

  a:hover:before, a.active:before{
    vertical-align: middle;
    content: url("/assets/arrow-left.png");
    display: inline-block;
    width: 22px;
    position: absolute;
    top: 9%;
    left:0;
  }

  a:hover:after, a.active:after{
    vertical-align: middle;
    content: url("/assets/arrow-right.png");
    display: inline-block;
    width: 22px;
    position: absolute;
    top: 9%;
  }

  span, i{
    display: none;
  }
}