// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



a{
	text-decoration:none;
}
ul{
	margin-top:0;
	margin-bottom:0;
	padding:0;

	li{
		list-style:none;
	}
}
body{
	font-family: 'Amatic SC', cursive;
}

.container, nav ul {  @include outer-container;  }

header{
	text-align:center;
	
	.container{
		height:119px;
		position:relative;
	}

	h1{
		margin:37px auto 0;
		width:242px;

		a{
			@include hide-text;
			background: url(asset-path("insignia.jpg", image)) no-repeat 0 0;
			display:block;
			height:58px;
			width:242px;
		}
	}
	a.lang{
		background: #326bb0;
		border: 1px solid #1a3757;
		@include border-radius(4px);
		color: white;
		font-size:11px;
		font-weight: bold;
		height: 24px;
		line-height: 24px;
		position: absolute;
		right: 105px;
		text-transform: uppercase;
		top: 51px;
		width: 128px;
		font-family: 'Enriqueta', serif;
	}
	nav{
		background: #383435;

		ul{
			text-align:center;

			li{
				display:inline;

				a{
					color:#fff;
					display:inline-block;
					height:55px;
					font-weight:bold;
					line-height:55px;
					padding:1px 25px 0;
					text-transform:uppercase;
					font-family: 'Enriqueta', serif;
				}
				a:hover{
					background: url("/assets/link-hover.png") 0px -1px no-repeat;
						background-size: 100% 55px;
				}
			}
		}
	}

}
// content style
.content{
	background:url(asset-path("background-pattern.gif", image)) repeat 0 0;
	min-height:300px;
	h1 {
		font-size: 50px;
		font-weight: bold;
		text-align: center;
		margin: 0;
		margin-top: 85px;
		margin-bottom: 75px;
		text-transform: uppercase;
		b{  color:#f10993;  }
	}
	p.portada{
		float: right;
		position: relative;
		top: 32px;
		left: -50px;
		font-size: 18px; // corregir el tamaño cuando tengamos la fuente correspondiente
		line-height: 30px;
		width: 395px;
		font-family: 'Enriqueta', serif;
		b{
			background: #F10993;
			color: white;
			font-weight: normal;
			padding: 0px 5px;
		}
	}
	.container-title{
		border-top: 2px dashed #B8B8B8;
		margin-top: 85px;
		width: 100%;
	}
	h2.title{
		position: relative;
		top: -30px;
		@include background-image( url(asset-path("background-pattern.gif", image)), url(asset-path("backgr-title.png", image)));
		width: 315px;
		height: 37px;
		line-height: 37px;
		color: #343233;
		font-size: 60px;
		margin: auto;
	}

}
// fin content style



// news

.news-item {
	background: white;
	width: 300px;
	height: 335px;
	border: 1px solid #C2B7BB;
	padding: 34px 43px;
	font-family: 'Enriqueta', Arial;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 55px;
}
.icon-calendar {
	float: left;
	font-size: 22px;
	line-height: 18px;
	margin-right: 7px;
}
.published-at,.highlighted{
	font-weight: bold;
	margin-bottom: 21px;
}
.published-at, .title, .description{  font-size: 13px;  }
.highlighted{
	font-size: 20px;
	margin-bottom: 17px;
}
.title {
margin-bottom: 0px;
text-transform: uppercase;
margin-left: 1px;
}
.published-at, .description{  color: #373435;  }
.title, .highlighted{  color: #e80892;  }

.description {
	height: 165px;
	margin-bottom: 15px;
	font-size: 13px;
	line-height: 20px;
}

.more {
	width: 130px;
	height: 47px;
	color: white;
	font-weight: bold;
	background: #E50892;
	border: 2px solid #A60563;
	border-radius: 7px;
	padding: 0px 23px 2px 18px;
	line-height: 34px;
	font-size: 34px;
	font-family: 'Amatic SC', cursive;
	@include box-shadow( 2px 2px 16px -5px black );
	position:relative;
	left:41px;
}
// fin news

// footer style
footer{
	background:#19375b;
	border-top:#3469af solid 4px;
	color:#6390d4;
	text-align:center;
	font-family:Arial;
	font-family: Enriqueta, Arial;
	font-weight:700;
	
	.container{

		ul.footer-contact{
			font-size:12px;
			height: 111px;
			line-height: 111px;
			li{
				display:inline-block;
				margin-right: 15px;
				font-size: 14px;
				a{
					color:#6390d4;
					text-decoration:underline;
				}
			}
			span{
				height: 28px;
				width: 28px;
				position: relative;
				top: 8px;
				display: inline-block;
				margin-right: 10px;
			}
			.footer-contact-street span{  background:url(asset-path("contact-icon.png", image)) no-repeat -3px 2px;  }
			.footer-contact-phone span{  background:url(asset-path("contact-icon.png", image)) no-repeat -28px 2px;  }
			.footer-contact-email span{  background:url(asset-path("contact-icon.png", image)) no-repeat -56px 2px;  }
			.footer-contact-email {  margin-right: 0;  }
		}
	}
	
	hr {
		border: 0;
		border-bottom: 1.5px dashed #3469AF;
		background: #19375B;
		margin: 0;
	}

	.footer-subscribe{
		font-size:12px;
		height: 194px;
		margin: 0;
		padding-top: 55px;
		label {
			font-size: 60px;
			color: white;
			font-weight: 700;
			vertical-align: middle;
			text-transform: uppercase;
			font-family: 'Amatic SC', cursive;
		}
		input {
			line-height: normal;
			height: 42px;
			border-radius: 8px;
			margin: 0 10px;
			@include box-shadow( 2px 2px 16px -5px black );
			font-family: Enriqueta, Arial;
			font-size:16px;
		}
		.email{
			width: 430px;
			padding: 10px 30px;
		}
		.btn-subscribe{
			width: 149px;
			background: #F30893;
			border: 2px solid #A80465;
			color: white;
			font-weight: bold;
			font-size: 34px;
			text-transform: uppercase;
			line-height: 40px;
			height: 47px;
			font-family: 'Amatic SC', cursive;
			position:relative;
			top:9px;
		}
		p{
			margin: 0;
			margin-top: 25px;
			font-size: 14px;
		}
	}

	.social{
		background:#000;
		color:#747474;
		height:75px;
		font-family: 'Amatic SC', cursive;
		
		.container{
			text-align:center;
			
			ul{
				li{
					display:inline-block;
					padding: 9px 0 0;

					a{
						color:#747474;
						display:inline-block;
						font-size:44px;
						text-transform:uppercase;

						i{
							display:inline-block;
							height: 39px;
							margin: 0 6px;
							position: relative;
							top: 4px;
							width: 39px;
						}
					}
				}
				li.tw{
					a{
						i{
							background:url(asset-path("social.gif", image)) no-repeat 0 0;
						}
					}
				}li.fb{
					a{
						i{
							background:url(asset-path("social.gif", image)) no-repeat right top;
						}
					}
				}
			}
		}
	}
}
// fin footer style
aside { @include span-columns(3); }
article { @include span-columns(9); }


//slider style
#slideshow {
	width:600px;
	height:250px;

	/*IE bugfix*/
	padding:0;
	margin:0;
}

#slideshow li { list-style:none; }

#page {
	width:600px;
	margin:50px auto;
}

.rhino-container{
	position: relative;
	margin: auto;
	width: 820px!important;
	height: 405px!important;
	border: 1px solid #BEBABB;
	left: -105px!important;
}

.rhino-next{
	right: 0;
}

.rhino-caption{
	display: block;
	opacity: 0.9;
	background-color: white;
	width: 100%;
	height: 113px;
	position: absolute;
	top: 290px;
	color: #383435;
	border: 1px solid #383435;
}

.technologies, .tools{
	overflow:hidden;
	padding-bottom:50px;

	ul{
		margin-left: -20px;

		li{
			@include border-radius(10px);
			background:url(asset-path("px-white.png", image)) repeat 0 0;
			border: #373435 dashed 1px;
			float:left;
			height:184px;
			margin-left:20px;
			text-align:center;
			width:218px;

			.circle{
				@include border-radius(35px);
				background:#f20892;
				border:#a60563 solid 5px;
				height:70px;
				width:70px;
				margin:19px auto 10px;
			}

			h3{
				display:table-cell;
				font-family: Enriqueta, Arial;
				font-size:15px;
				font-weight:normal;
				height:50px;
				line-height:21px;
				padding:0 22px;
				vertical-align:middle;
				width:216px;
			}
		}
	}
}

.tools{
	ul{
		li{
			.circle{
				background:#316baf;
				border:#224a79 solid 5px;
			}
		}
	}	
}
