// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



a{
	text-decoration:none;
}
ul{
	margin-top:0;
	margin-bottom:0;
	padding:0;

	li{
		list-style:none;
	}
}

.container, nav ul {
  @include outer-container;
}

header{
	text-align:center;
	
	.container{
		height:119px;
		position:relative;
	}

	h1{
		margin:37px auto 0;
		width:242px;

		a{
			@include hide-text;
	  		background: url(asset-path("insignia.jpg", image)) no-repeat 0 0;
	  		display:block;
	  		height:58px;
	  		width:242px;
	  	}
	}
	a.lang{
		background: #326bb0;
		border: 1px solid #1a3757;
		@include border-radius(4px);
		color: white;
		font-size:11px;
		font-weight: bold;
		height: 24px;
		line-height: 24px;
		position: absolute;
		right: 105px;
		text-transform: uppercase;
		top: 51px;
		width: 128px;
	}
	nav{  
		background: #383435;
		
		ul{
			text-align:center;

			li{
				display:inline;

				a{
					color:#fff;
					display:inline-block;
					height:55px;
					font-weight:bold;
					line-height:55px;
					padding:1px 25px 0;
					text-transform:uppercase;
				}
			}
		}
	}

}

.content{
	background:#efefef;
	min-height:300px;
}

footer{
	background:#19375b;
	border-top:#3469af solid 4px;
	color:#6390d4;
	text-align:center;
	
	.container{

		ul.footer-contact{
			font-size:12px;

			li{
				display:inline-block;
				padding: 0 0 0 30px;
				
				a{
					color:#6390d4;
					text-decoration:underline;
				} 
			}
		}

		form{
			font-size:12px;
		}
	}

	.social{
		background:#000;
		color:#747474;
		height:75px;
		
		.container{
			text-align:center;
			
			ul{
				li{
					display:inline-block;
					padding: 9px 0 0;

					a{
						color:#747474;
						display:inline-block;
						font-size:22px;
						text-transform:uppercase;
						
						i{
							display:inline-block;
							height: 39px;
						    margin: 0 6px;
						    position: relative;
						    top: 12px;
						    width: 39px;
						}
					}
				}
				li.tw{
					a{
						i{
							background:url(asset-path("social.gif", image)) no-repeat 0 0;
						}
					}
				}li.fb{
					a{
						i{
							background:url(asset-path("social.gif", image)) no-repeat right top;
						}
					}
				}
			}
		}
	}
}

aside { @include span-columns(3); }
article { @include span-columns(9); }
