@media (min-width: 768px) and (max-width: 939px){

/* ----------------------------
:: header
---------------------------- */
  header nav ul {
    padding-left: 0px;
  }

  header a.lang {
    right: 5%;
  }


/* ----------------------------
:: GLOBAL
---------------------------- */
  .container-title {
    border-top: 2px dashed rgb(184, 184, 184)!important;

    h2 {
      position: relative;
      top: -0.6em;
      font-size: 60px;
      line-height: 60px;
      display: inline-block;
    }
  }

  section {
    margin-bottom: 10%;
  }


/* ----------------------------
:: HOME
---------------------------- */
  .introduction{
    h2{
      font-size: 42px;
      margin:50 0;
    }

    #IntroCarousel{
      .carousel.slide, .carousel-inner > .item > img, .carousel-inner{
        float: none!important;
        position: static!important;
        margin: auto;
      }

      .item{
        text-align: center;
      }

      img{
        display: inline-block;
      }
    }

    p{
      float: none!important;
      position: static!important;
      margin: auto;
      width: 80%;
      min-height: 0;
    }
  }

  .technologies ul , .tools ul {
    margin-left: 0!important;

    li{
      margin-left: 3.5%!important;
      margin-bottom: 3.5%;
      width: 44%!important;

      h3{
        width: 100%!important;
        margin: auto;
        display: block!important;
      }
    }
  }

  .news-item {
    width: 87%!important;
    height: auto!important;
    margin-bottom: 4%!important;
    margin-left: 8%!important;
    margin-right: 0px!important;
    padding-right: 4%!important;

    .more{
      font-size: 2.2em;
      left: 1px!important;
      right: 1px!important;
      margin: auto;
      display: inline-block;
      width: 140px!important;
      text-align: center;
    }
  }

  .more-projects ul li {
    display: inline-block;
    float: none;
    margin: 0px 0px 20px 20px;
    width: 44%!important;
  }

  .certify {
    position:relative;
    top: 3em;
  }

  .ribbon-border .ribbon {
    padding: 10px 100px;
  }


/* ----------------------------
:: FOOTER
---------------------------- */
  footer{
    background: #19375A;
    overflow: hidden;

    .container-contact{
      float: left;
      width: 50%;
    }

    form{
      float: right;
      width: 49%;
    }

    .footer-contact:before {
      content:"Contact Us";
      font-size: 4.5em;
      color: white;
      font-weight: 700;
      vertical-align: middle;
      font-family: $font-secondary;
      line-height: 68px;
      margin-left: -4px;
      border: 1px dashed;
      padding: 0.5% 10%;
      margin-bottom: 24px;
      display: inline-block;
      width: auto;
    }

    .footer-contact {
      text-align: center;
      width: auto;
      margin: auto;
      float: left;
      line-height: 40px;
      padding: 30px 0;
    }

    .footer-contact li {
      width: 70%;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      margin: auto;
      float: none;
    }

    .footer-contact li i {
      display: block;
      margin: 5px auto;
    }

    .footer-subscribe .email {
      width: 65%;
      display:block;
      margin:0 auto;
      position:static;
    }

    .footer-subscribe p {
      margin: 50px 0 40px;
      padding: 0 65px;
      font-size: 14px;
      position: static;
    }

    .footer-subscribe label {
      border: 1px dashed;
      padding: 0px 30px;
      line-height: 60px;
    }

    .footer-subscribe .btn-subscribe {
      clear: both;
      position:static;
      margin: 20px auto;
    }
  }
//end footer


/* ----------------------------
:: SERVICES
---------------------------- */
  .content .services {
    .container-title { 
      margin-top: 2em!important;
      border-top: none!important;
    }

    ul.box-dashed.two {
      margin: auto!important;

      li { 
        margin: auto!important;
        margin: 5% auto!important;
        width: 90%!important;
        height: auto!important;
        float: none!important;
        display: block!important;
      }
    }
  }

  .services ul.box-dashed li{
    h3, p{
      display: block;
    }

    h3{
      margin: 0!important;
      margin-left: 3%!important;
      margin-top: 7%!important;
      width: auto;
    }

    p{
      margin: 7%;
      margin-top: 0;
    }
  }

  .process{
    ul{
      border-top: 0px;
      width: 90%;
      margin: auto;

      li{
        border-bottom: 1px solid #B3C4D9;
        margin: auto;
        padding: 10% 0px;

        h3{
          font-size: 1.5em;
        }

        p{
          width: 90%;
        }

        i{
          margin: auto;
          height: auto!important;
          width: auto!important;
          font-size: 2.2em;
        }

        span {
          font-size: 1.5em;
          font-weight: 700;
        }
      }
    }
  }

  .howdowedoit, .our-offering {
    border: none;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
  }

  .howdowedoit{
    ul.bullets-blue {
      padding: 5% 5% 0px 60px;
    }
  }

  .our-offering p {
    padding-top: 7%;
  }
//end service


/* ----------------------------
:: PROJECT
---------------------------- */
  #projects-page.carousel .carousel-inner {
    width: 100%;
    height: auto;
    background-position: 50% 0%;

    .item {
      margin: 0;
      width: 100%;
    }

    .macbook {
      margin: 5.2% auto auto 28.4%
    }

    .carousel-caption {
      width: 80%!important;
      position: relative!important;
      top: 0!important;
      left: 0!important;
      margin: 10% auto auto!important;
      background: white!important;
      border: black solid 1px!important;
      padding: 3%!important;
    }

    .more {
      left: 0!important;
      bottom: -4%!important;
      right: 0;
      margin: auto;
    }

    .carousel-control {
      bottom: 12%!important;
      top: auto!important;

      .left {
        left: 20%!important;
      }

      .right {
        right: 20%!important;
      }
    }
  }

  .more-projects ul {
    width: 100%;
  }

  .more-info{
    ul.box-dashed.three {
      margin: auto;
      margin-left: 0!important;
      padding-left: 0!important;

      li {
        width: 248px;
        margin-left: 1%;
      }
    }
  }


/* ----------------------------
:: BLOG
---------------------------- */
  .blog{
    aside{
      float:none;
      width: 724px;
      margin: 0 auto;

      .icon-search, .search, .subscribe-link, .box.categories{
        display: none;
      }

      .box{
        float: left;
        width: 345px;
        margin: 0 0 50px;
        padding: 20px 40px;
        
        h2{
          text-align: left;
        }
      }

      .circle{
        text-align: center;
      }

      .rails-tip{
        float: right;
      }
    }

    .column{
      float:none;
      width:724px;
      margin: 0 auto;
    }
  }

  .nav-blog{
    background: #316baf;
    display: block;
    border-top: #fff solid 1px;
    border-bottom: #373435 solid 1px;

    ul{
      li{
        display: inline-block;
        padding: 0 57px;
      }
    }

    a{
      color: #fff;
      display:inline-block;
      line-height: 55px;
    }

    .icon-rss{
      position: relative;
      top: 5px;
      margin-left: 15px;
      font-size: 24px;
    }

    .icon-search{
      font-size: 20px;
      position: relative;
      margin-left: 17px;
      top: 4px;
    }
  }

}